MONGODB_URI=mongodb+srv://admin:nguyenduc123@cluster0.o8zx6yx.mongodb.net/project-cms?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
JWT_SECRET=7814599c-f634-4812-a954-6357190f1f96
JWT_ACCESS_TOKEN_EXPIRED=1h
